
# Ignore all files inside these directories
highlighted_seams/*.png
outputs/*.png

# But not the directories themselves
!highlighted_seams/
!outputs/

# Ignore build files
/build/
*.o
*.out

# Ignore system files
.DS_Store
Thumbs.db

# Ignore Python/Java/VSCode/CLion files etc (examples):
*.log

